OPENSEARCH_VERSION=2.18.0
KAFKA_VERSION=3.9.0
OTELCOL_VERSION=0.160.0
PROMETHEUS_VERSION=v3.1.0
ALERTMANAGER_VERSION=v0.27.0
GRAFANA_VERSION=11.4.0
POSTGRES_VERSION=pg17
REDIS_VERSION=7-alpine
OPENSEARCH_HEAP=-Xms1g -Xmx1g
KAFKA_HEAP=-Xmx512m -Xms512m
POSTGRES_USER=srecopilot
POSTGRES_PASSWORD=changeme-local-dev-only
POSTGRES_DB=srecopilot
